@font-face {
  font-family: 'pridi-regularr';
  src: url('/static/fonts/Pridi-Regular.ttf');
}

@font-face {
  font-family: 'pridi-light';
  src: url('/static/fonts/Pridi-Light.ttf');
}

body {
  font-family: 'pridi-light', serif;
  font-size: 15px;
    
  ::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #f1f1f1; */
    border-radius: 20px;
    margin: 10px;
    /* background: pink; */
  
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #768694;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #768694;
  } 
}
